# User-specific stuff
# ...

# JetBrains
.idea/
*.iml

# MacOS
.DS_Store

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Other cache
.cache
**/.pytest_cache/

# Logs
*.log

# pyenv, asdf
#   For a library or package, you might want to ignore these files since the code is
#   intended to run in multiple environments; otherwise, check them in:
.python-version
.tool-versions

# Environments
.venv*
venv*/
